################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/PublishScripts
/Solution/TestStuffWithIoC/Properties/PublishProfiles
/Solution/TestStuffWithIoC/__TestProfilesForFilePreview__
test.html
/Solution/*.suo
/Solution/*.user
/Solution/node_modules
/Solution/TestStuffWithIoC/static/js/dist
/Solution/TestStuffWithIoC/static/js/vendor
/Solution/TestStuffWithIoC/bin
/Solution/TestStuffWithIoC/obj
/Solution/UnitTests/bin
/Solution/UnitTests/obj
