@using System.Web.Optimization
@{
    ViewBag.Title = "Bull & Bear Game";
}

@section HeadExtra
{
    @Scripts.Render("~/bundles/bullbear")
}

<!-- HTML5 IDEA -->
<canvas id="gameCanvas"></canvas>

<script type="text/javascript">
    //Page init
    $(document).ready(function () {
        var game = new BullBearGame('gameCanvas', 'gameInfo');
        $('#txtMovingMarkerStepValue').val(game.movingMarkerStepValue);
        $('#txtMovingMarkerStepValue').bind('keyup', function (e) {
            game.movingMarkerStepValue = $(this).val();
        });

        game.initCanvas();

        game.onSpeedChange = function() {
            $('#txtMovingMarkerStepValue').val(game.movingMarkerStepValue);
        };

        //Hack to try to have info inside canvas, but also draggable
        $("#MyColumn2").draggable();
        $('#MyColumn2').attr('style', 'cursor:move;top:5px;left:' + ($('#gameCanvas').width() - 220) + 'px;right:auto;');
    });
</script>


    @section MyColumn2{
        <div class="ui-draggable">
    <b>Bull & Bear Game</b>
    <div id="gameInfo"></div>
    <br />
    <label for="txtMovingMarkerStepValue"><b>Game speed</b></label><br />
    <input id="txtMovingMarkerStepValue" size="1" type="text" />
    <em>Increases automatically</em>
</div>
    }
